<div class="ed-ModelView">
    <label class="ed-ModelViewToggle" data-module="model-view">
        <span class="ed-ModelViewToggle_Label">{{ section.settings.text_model_view }}</span>
        <input id="ed-model-view-input" class="ed-ModelViewToggle_Input" type="checkbox" data-el="model-view.input"
               data-adtribute-listener="true">
        <span class="ed-ModelViewToggle_Outer" style="background-color: {{ section.settings.checkfield_color }}">
                <span class="ed-ModelViewToggle_Inner"></span>
        </span>
    </label>
</div>

<script>

    let modelView = document.getElementById('ed-model-view-input');
    modelView.onclick = function () {
        adjustImages()
    };

    document.addEventListener("pagination:page-changed", function () {
        adjustLater();
    });

    document.addEventListener("facet:criteria-changed", function () {
        unCheckModelViewSwithcer();
    });

    function unCheckModelViewSwithcer() {
        if (modelView.checked) {
            modelView.checked = false;
        }
    }

    document.addEventListener("pagination:page-changed", function() {
        adjustLater();
    });

    document.addEventListener("facet:criteria-changed", function() {
        unCheckModelViewSwithcer();
    });

    function unCheckModelViewSwithcer() {
        if (modelView.checked) {
            modelView.checked = false;
        }
    }

    function adjustImages() {

        let edPrimaryImages = document.querySelectorAll('.shopify-section--main-collection .ed-model-view-wrapper .product-item__primary-image');
        let edSecondaryImages = document.querySelectorAll('.shopify-section--main-collection .ed-model-view-wrapper .product-item__secondary-image');

        if (modelView.checked) {
            edPrimaryImages.forEach(edPrimaryImage => {
                edPrimaryImage.classList.add("ed-primary-image-hide");
            });

            edSecondaryImages.forEach(edSecondaryImage => {
                edSecondaryImage.classList.add("ed-secondary-image-show");
            });
        } else {
            edPrimaryImages.forEach(edPrimaryImage => {
                edPrimaryImage.classList.remove("ed-primary-image-hide");
            });

            edSecondaryImages.forEach(edSecondaryImage => {
                edSecondaryImage.classList.remove("ed-secondary-image-show");
            });
        }
    }

    function adjustLater() {
        if (modelView.checked) {
            setTimeout(function () {
                adjustImages()
            }, 1000);
        }
    }
</script>
