<div class="hb_border--wrapper">
  <div class="hb_border--img destop">
    <svg width="1531" height="391" viewBox="0 0 1531 391" fill="none" xmlns="http://www.w3.org/2000/svg">
      <mask id="path-1-outside-1_164_2622" maskUnits="userSpaceOnUse" x="0" y="0" width="1531" height="391" fill="black">
      <rect fill="white" width="1531" height="391"/>
      <path d="M0 26C0 12.1929 11.1929 1 25 1H1504C1517.81 1 1529 12.1929 1529 26V366C1529 379.807 1517.81 391 1504 391H25C11.1929 391 0 379.807 0 366V26Z"/>
      </mask>
      <path d="M0 26C0 11.6406 11.6406 0 26 0H1505C1519.36 0 1531 11.6406 1531 26H1527C1527 12.7452 1516.7 2 1504 2H25C11.1929 2 0 12.7452 0 26ZM1529 391H0H1529ZM0 391V1V391ZM1505 0C1519.36 0 1531 11.6406 1531 26V364C1531 378.912 1518.91 391 1504 391C1516.7 391 1527 379.807 1527 366V26C1527 12.7452 1516.7 2 1504 2L1505 0Z" fill="url(#paint0_radial_164_2622)" mask="url(#path-1-outside-1_164_2622)"/>
      <defs>
      <radialGradient id="paint0_radial_164_2622" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1515.47 0.999862) rotate(147.277) scale(475.414 1349.78)">
      <stop stop-color="#FCEDD1"/>
      <stop offset="0.275641" stop-color="#54362A"/>
      <stop offset="0.875857" stop-color="#221518" stop-opacity="0"/>
      </radialGradient>
      </defs>
    </svg>
  </div>
  <div class="hb_border--img mobile">
    <svg width="380" height="512" viewBox="0 0 380 512" fill="none" xmlns="http://www.w3.org/2000/svg">
      <mask id="path-1-outside-1_164_3730" maskUnits="userSpaceOnUse" x="-473" y="0" width="853" height="512" fill="black">
      <rect fill="white" x="-473" width="853" height="512"/>
      <path d="M-473 11C-473 5.47715 -468.523 1 -463 1H368C373.523 1 378 5.47715 378 11V502C378 507.523 373.523 512 368 512H-463C-468.523 512 -473 507.523 -473 502V11Z"/>
      </mask>
      <path d="M-473 11C-473 4.92487 -468.075 0 -462 0H369C375.075 0 380 4.92487 380 11H376C376 6.02944 372.418 2 368 2H-463C-468.523 2 -473 6.02944 -473 11ZM378 512H-473H378ZM-473 512V1V512ZM369 0C375.075 0 380 4.92487 380 11V500C380 506.627 374.627 512 368 512C372.418 512 376 507.523 376 502V11C376 6.02944 372.418 2 368 2L369 0Z" fill="url(#paint0_radial_164_3730)" mask="url(#path-1-outside-1_164_3730)"/>
      <defs>
      <radialGradient id="paint0_radial_164_3730" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(370.472 0.99982) rotate(123.468) scale(403.665 1159.29)">
      <stop stop-color="#FCEDD1"/>
      <stop offset="0.275641" stop-color="#54362A"/>
      <stop offset="0.875857" stop-color="#221518" stop-opacity="0"/>
      </radialGradient>
      </defs>
    </svg>
  </div>
</div>
