{{ 'hb-footer.css' | asset_url | stylesheet_tag }}

<div class="hb_footer">
  <div class="container">
    <div class="hb_footer__wrapper">
      <div class="hb_footer__content">
        <div class="hb_footer__primary">
          {% for block in section.blocks %}
            {% if block.type == 'footer_block' %}
              <div class="hb_footer__primary--item">
                <a href="{{ block.settings.block_url }}" class="hb_footer__primary--button">
                  {% if block.settings.parimary_text != blank %}
                    <span class="hb_footer__primary--text">{{ block.settings.parimary_text }}</span>
                    <span class="hb_footer__icon">
                      <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 12.7266H5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14 17.7266L19 12.7266" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14 7.72656L19 12.7266" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </span>
                  {% endif %}
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="hb_footer__secondary">
          <div class="hb_footer__social--icons">
            <a href="#" class="hb-social-icon">
              <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.0465 26.7582V14.9038H19.1024L19.7109 10.2823H15.048V7.33169C15.048 5.99552 15.4241 5.08436 17.381 5.08436H19.8744V0.948953C19.4433 0.893916 17.9634 0.768555 16.2405 0.768555C12.6432 0.768555 10.1818 2.92111 10.1818 6.87458V10.2838H6.11523V14.9038H10.1818V26.7582H15.0465Z" fill="white"/>
              </svg>
            </a>
            <a href="#" class="hb-social-icon">
              <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9948 0.768555C9.46563 0.768555 9.02311 0.783521 7.63708 0.846762C6.25393 0.909847 5.30929 1.12953 4.48273 1.45079C3.6282 1.78283 2.90351 2.22717 2.18104 2.94959C1.45862 3.67206 1.01427 4.39674 0.682232 5.25126C0.360974 6.07783 0.141276 7.02247 0.0781904 8.40561C0.0149495 9.79165 0 10.2342 0 13.7634C0 17.2925 0.0149495 17.7351 0.0781904 19.1211C0.141276 20.5042 0.360974 21.4489 0.682232 22.2754C1.01427 23.13 1.45862 23.8547 2.18104 24.5771C2.90351 25.2995 3.6282 25.7439 4.48273 26.076C5.30929 26.3972 6.25393 26.6169 7.63708 26.6799C9.02311 26.7432 9.46563 26.7582 12.9948 26.7582C16.524 26.7582 16.9665 26.7432 18.3525 26.6799C19.7357 26.6169 20.6803 26.3972 21.5069 26.076C22.3614 25.7439 23.0861 25.2995 23.8086 24.5771C24.531 23.8547 24.9753 23.13 25.3074 22.2754C25.6286 21.4489 25.8483 20.5042 25.9114 19.1211C25.9747 17.7351 25.9896 17.2925 25.9896 13.7634C25.9896 10.2342 25.9747 9.79165 25.9114 8.40561C25.8483 7.02247 25.6286 6.07783 25.3074 5.25126C24.9753 4.39674 24.531 3.67206 23.8086 2.94959C23.0861 2.22717 22.3614 1.78283 21.5069 1.45079C20.6803 1.12953 19.7357 0.909847 18.3525 0.846762C16.9665 0.783521 16.524 0.768555 12.9948 0.768555ZM12.9948 3.10995C16.4646 3.10995 16.8756 3.12321 18.2458 3.18573C19.5128 3.2435 20.2009 3.4552 20.6588 3.63316C21.2653 3.86889 21.6982 4.15048 22.1529 4.60524C22.6077 5.05994 22.8892 5.49283 23.125 6.0994C23.3029 6.5573 23.5146 7.24536 23.5724 8.51234C23.6349 9.88259 23.6482 10.2936 23.6482 13.7634C23.6482 17.2331 23.6349 17.6441 23.5724 19.0144C23.5146 20.2813 23.3029 20.9694 23.125 21.4273C22.8892 22.0339 22.6077 22.4668 22.1529 22.9215C21.6982 23.3762 21.2653 23.6578 20.6588 23.8936C20.2009 24.0715 19.5128 24.2832 18.2458 24.341C16.8758 24.4035 16.4648 24.4168 12.9948 24.4168C9.5248 24.4168 9.11388 24.4035 7.74379 24.341C6.47681 24.2832 5.78873 24.0715 5.33082 23.8936C4.72426 23.6578 4.29138 23.3762 3.83668 22.9215C3.38198 22.4668 3.10036 22.0339 2.86462 21.4273C2.68666 20.9694 2.47497 20.2813 2.41719 19.0144C2.35467 17.6441 2.34141 17.2331 2.34141 13.7634C2.34141 10.2936 2.35467 9.88259 2.41719 8.51234C2.47497 7.24536 2.68666 6.5573 2.86462 6.0994C3.10036 5.49283 3.38193 5.05994 3.83668 4.60524C4.29138 4.15048 4.72426 3.86889 5.33082 3.63316C5.78873 3.4552 6.47681 3.2435 7.74379 3.18573C9.11404 3.12321 9.52505 3.10995 12.9948 3.10995ZM12.9948 7.09036C9.30939 7.09036 6.32179 10.0779 6.32179 13.7634C6.32179 17.4488 9.30939 20.4364 12.9948 20.4364C16.6802 20.4364 19.6678 17.4488 19.6678 13.7634C19.6678 10.0779 16.6802 7.09036 12.9948 7.09036ZM12.9948 18.095C10.6025 18.095 8.6632 16.1557 8.6632 13.7634C8.6632 11.3711 10.6025 9.43176 12.9948 9.43176C15.3871 9.43176 17.3264 11.3711 17.3264 13.7634C17.3264 16.1557 15.3871 18.095 12.9948 18.095ZM21.4908 6.82672C21.4908 7.68795 20.7927 8.38607 19.9314 8.38607C19.0703 8.38607 18.3721 7.68795 18.3721 6.82672C18.3721 5.96549 19.0703 5.26731 19.9314 5.26731C20.7927 5.26731 21.4908 5.96549 21.4908 6.82672Z" fill="white"/>
              </svg>
            </a>
          </div>
          <div class="hb_footer__payment--icons">
            {% render 'hb-payment-icons' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hb footer",
  "blocks": [
    {
      "type": "footer_block",
      "name": "Footer block",
      "settings": [
        {
          "type": "url",
          "id": "block_url",
          "label": "Block url"
        },
        {
          "type": "text",
          "id": "parimary_text",
          "label": "Primary text"
        }
      ]
    }
  ]
}
{% endschema %}
